.storybook-input{
    background-color: #1F2E35;
    padding: 15px 12px;
    border-radius: 12px;
    border: none;
    color:#96A7AF;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    margin: 10px 0;
}